<section class="about-banner">
    <div class="about-bg">
        <div class="container">
            <div class="about-text">
                <h1 class="banner-heading">Our Work</h1>
                <h2 class="banner-subheading">Codesdesk Technology Private Limited</h2>
                <p class="banner-text">Codesdesk is Growing E-Commerce Agency based in India serving global clients since 7+ years. We employ in-house team of professionals working round the clock to deliver quality Web based services.</p>
                <div class="banner-buttons">
                    <a class="banner-bt black">Call Now</a>
                    <a class="banner-bt white">Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="portfolio-section margin-90">
    <div class="container">
        <div class="port-txt-wrapper flex-row align-items-center">
            <div class="port-heading">
                <div class="our-p flex-row align-items-center">
                    <p class="title">
                        Our Portfolio
                    </p>
                    <img src="assets/image/image border.png" alt="icon">
                </div>
                <div class="port-head w-100">
                    <h2 class="heading">
                        What we've been really goingafter...
                    </h2>
                </div>
            </div>
            <div class="port-text w-100">
                <p class="text">
                    We shows only the best websites and portfolios built completely with passion, simplicity & creativity. Our team have designed game changing products, consulted for companies as well.
                </p>
            </div>
        </div>
        <div class="port-menu w-100">
            <ul class="nav flex-row align-items-center">
                <li class="nav-item p-relative tab-switcher" data-tab-index="9" tabindex="9">
                    <a class="nav-link tablinks active">All</a>
                </li>
                <li class="nav-item p-relative tab-switcher" data-tab-index="10" tabindex="10">
                    <a class="nav-link tablinks">Web Designing</a>
                </li>
                <li class="nav-item p-relative tab-switcher" data-tab-index="11" tabindex="11">
                    <a class="nav-link tablinks">Web Development</a>
                </li>
                <li class="nav-item p-relative tab-switcher" data-tab-index="12" tabindex="12">
                    <a class="nav-link tablinks">E-Commerce</a>
                </li>
            </ul>
        </div>
        <div id="allTabsContainer">
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="9" style="display: flex;">
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx7.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx8.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx9.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx10.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx11.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx1-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2-2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3-3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5-5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6-6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
            </div>
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="10" style="display:none;">
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx1-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2-2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3-3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5-5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6-6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
            </div>
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="11" style="display:none;">
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>

            </div>
            <div class="port-images wrap flex-row align-items-center space-between tab-container" data-tab-index="12" style="display:none;">
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx1-1.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx2-2.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx3-3.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx4-4.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx5-5.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
                <div class="port-img-card p-relative">
                    <img class="w-100" src="assets/image/lux-nyx6-6.png" alt="port">
                    <div class="hover-btn-p p-absolute">
                        <a class="pic-h-btn" href="#">+</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>