<section class="about-banner">
    <div class="about-bg">
        <div class="container">
            <div class="about-text">
                <h1 class="banner-heading">About Us</h1>
                <h2 class="banner-subheading">Codesdesk Technology Private Limited</h2>
                <p class="banner-text">Codesdesk is Growing E-Commerce Agency based in India serving global clients since 7+ years. We employ in-house team of professionals working round the clock to deliver quality Web based services.</p>
                <div class="banner-buttons">
                    <a class="banner-bt black">Call Now</a>
                    <a class="banner-bt white">Get started</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-1 margin-90">
    <div class="container">
        <div class="image-with-text-wrapper flex col-2 align-center text-left">
            <div class="text-tab flex-item">
                <p class="sub-text">Our Mission <span><img src="assets/image/image border.png" alt=""></span></p>
                <h2 class="heading">We Team of <span>Experience</span> It Specialities</h2>
                <p class="text">Our key value system through which we embrace success is Honesty, Integrity, Customer satisfaction, and Experience matched to mutual growth. Globe Alley's mission is to provide our clients with the best IT solutions possible, and we believe
                    in earning people's confidence, which means keeping our commitments and being honest about our work. Our staff is dedicated to catering to your business needs. It always thrives on doing better, ensuring the best in class services
                    while embracing our values of complete customer satisfaction, efficiency, and honesty.</p>
                <div class="button">
                    <a class="banner-bt orange cdk-button">Explore More</a>
                </div>
            </div>
            <div class="image-tab flex-item">
                <img src="assets/image/image-text-1.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-2 margin-90">
    <div class="container">
        <div class="image-with-text-wrapper image-with-text-wrapper-2 flex col-2 align-center text-right">
            <div class="image-tab  flex-item">
                <img src="assets/image/image-text-2.png" class="w-100" alt="">
            </div>
            <div class="text-tab  flex-item">
                <p class="sub-text">Our Vision <span><img src="assets/image/image border.png" alt=""></span></p>
                <h2 class="heading">We Team of <span>Experience</span> It Specialities</h2>
                <p class="text">We implement Agile best practices to offer offshore and onshore solutions like</p>
                <ul class="list">
                    <li>Mobile responsive web applications.</li>
                    <li>Native & Hybrid Mobile Apps.</li>
                    <li>Digital Marketing.</li>
                </ul>
                <p class="text">We set up high-performance business strategy to create, collaborate, deploy and deliver quality solutions to our global business communities. By maintaining high standard of principles in our work values, we deliver flawless business and
                    optimized services required by the clients.</p>
                <div class="button">
                    <a class="banner-bt orange cdk-button">Explore More</a>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="image-with-text image-with-text-3 margin-90">
    <div class="container">
        <div class="image-with-text-wrapper flex col-2 align-center text-left">
            <div class="text-tab flex-item">
                <p class="sub-text">Our Process <span><img src="assets/image/image border.png" alt=""></span></p>
                <h2 class="heading">We Team of <span>Experience</span> It Specialities</h2>
                <p class="text">We set up high-performance business strategy to create, collaborate, deploy and deliver quality solutions to our global business communities. By maintaining high standard of principles in our work values, we deliver flawless business and
                    optimized services required by the clients.</p>
                <div class="button">
                    <a class="banner-bt orange cdk-button">Explore More</a>
                </div>
            </div>
            <div class="image-tab flex-item">
                <img src="assets/image/image-text-1.png" class="w-100" alt="">
            </div>
        </div>
    </div>
</section>

<section class="about-image-slider margin-90">
    <div class="container">
        <div class="flex col-2 image-slider-bg">
            <div class="image-tab images-slides flex-item">

                <ngx-slick-carousel class="image-slider-items" #slickModal="slick-carousel" [config]="caseConfig">

                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-1.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><img src="assets/image/image border.png" alt=""></span></p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">We deliver best-in-class web and mobile solutions that will retain the attention of the target audience.</p>
                            <div class="image-slider-bt">
                                <a class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-2.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><img src="assets/image/image border.png" alt=""></span></p>
                            <h2 class="heading">Infrastructure Technology</h2>
                            <p class="text">Ten things you should know about an IT provider's managed services. See how the others stack up against IT Solutions.</p>
                            <div class="image-slider-bt">
                                <a class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-1.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><img src="assets/image/image border.png" alt=""></span></p>
                            <h2 class="heading">Information Security</h2>
                            <p class="text">Many Managed Services Providers make ambitious promises that they fail to deliver. We back up our services.</p>
                            <div class="image-slider-bt">
                                <a class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>
                    <div ngxSlickItem class="image-slide image-slide-1 p-relative">
                        <img src="assets/image/image-slide-4.png" class="w-100" alt="">
                        <div class="image-slide-text">
                            <p class="sub-text">Case Studies <span><img src="assets/image/image border.png" alt=""></span></p>
                            <h2 class="heading">Codesdesk Technology</h2>
                            <p class="text">Ten things you should know about an IT provider's managed services. See how the others stack up against IT Solutions.</p>
                            <div class="image-slider-bt">
                                <a class="svg-button"><svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20" fill="none">
                                    <path d="M8.50352 1.30566L9.49448 0.314697C9.91407 -0.104899 10.5926 -0.104899 11.0077 0.314697L19.6853 8.98784C20.1049 9.40743 20.1049 10.0859 19.6853 10.5011L11.0077 19.1787C10.5881 19.5983 9.90961 19.5983 9.49448 19.1787L8.50352 18.1877C8.07946 17.7636 8.08838 17.0718 8.52137 16.6566L13.9002 11.5322H1.07131C0.477625 11.5322 0 11.0546 0 10.4609V9.03247C0 8.43879 0.477625 7.96117 1.07131 7.96117H13.9002L8.52137 2.83674C8.08392 2.4216 8.07499 1.72972 8.50352 1.30566Z" fill="white"/>
                                    </svg>
                                </a>
                            </div>
                        </div>
                    </div>

                </ngx-slick-carousel>

            </div>
            <div class="slider-static-text text-tab-padding flex-item p-relative">
                <img src="assets/image/dots.png" alt="" class="dots-image ">
                <p class="sub-text flex-row align-items-center">About Our Company <span><img src="assets/image/image border.png" alt=""></span></p>
                <h2 class="heading">Choose The Best IT Service Company</h2>
                <p class="text">We hate mediocrity and triteness. Every webpage we design is crafted with passion and great commitment. Modernity is always present in our digital works as well as high usability. Responsive Web Design? Of course it’s a standard which
                    you’ll see on every page we create. Even the one you’re looking at.</p>
                <div class="icon-text-wrapper flex col-2">
                    <div class="icon-text flex-item">
                        <img src="assets/image/money-back.png" alt="">
                        <h4 class="text-icon">Moneyback Gurentee</h4>
                    </div>
                    <div class="icon-text flex-item">
                        <img src="assets/image/customer-service.png" alt="">
                        <h4 class="text-icon">Technical Support</h4>
                    </div>
                </div>
                <div class="buttons flex">
                    <a class="banner-bt cdk-button">Contact us</a>
                    <a class="call-icon-text flex align-center" href="tel: +91-00000-00000">
                        <span class="call-icon p-relative flex align-center justify-center"><img src="assets/image/telephone.png" alt=""></span>
                        <span class="call-text">
                            <span class="call-txt">Call for help</span>
                        <span class="call-number">+91-99880-74677</span>
                        </span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="slider-section margin-126-b">
    <div class="container">
        <div class="slider-head-wrapper w-100 p-relative">
            <h2 class="back-txt">TESTIMONIAL</h2>
            <div class="title flex-row align-items-center p-absolute">
                <img src="assets/image/image-border1.png" alt="asdf">
                <p class="our-title desktop">
                    Our Client’s Testimonials
                </p>
                <p class="our-title mobile">
                    Our Testimonials
                </p>
                <img src="assets/image/image border.png" alt="asdf">
            </div>
            <!-- <p class="slider-txt">
                Great websites = Happy customers. Here’s our list!
            </p> -->
        </div>
        <div class="next-prev-btn flex-row">

        </div>
        <div class="slider-wrap">
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slidelastConfig">
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse4.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse3.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
            </ngx-slick-carousel>
        </div>
    </div>
</section>