<section class="banner-section">
    <div class="banner-wrapper">
        <div class="text-image-wrapper flex-row align-items-center space-between">
            <div class="text-wrapper">
                <div class="text-all">
                    <div class="banner-text w-100">
                        <p class="text">
                            Delivering success in every solution!
                        </p>
                    </div>
                    <div class="banner-heading w-100">
                        <h1 class="heading">
                            Wordpress Web Desiging Sevice
                        </h1>
                    </div>
                    <div class="banner-text-last">
                        <p class="text-last">We help our customers build captivating user experiences that have a huge impact on conversion rates and brand perception. We create designs that showcase the beauty of your vision.</p>
                    </div>
                    <button class="black-button">Contact Us</button>
                </div>
            </div>
            <div class="image-wrapper w-100">
                <img src="assets/image/wordpress-banner.png" width="100%" alt="web">
            </div>
        </div>
    </div>
</section>
<section class="works-wrap background-p w-100">
    <ngx-slick-carousel class="cs-slider works-wrapper flex-row align-items-center" #slickModal="slick-carousel" [config]="slideConfig">
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/html-5.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/css3.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/php1.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/jquery1.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/html-5.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/css3.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/php1.png" class="w-100" alt="shopify">
        </div>
        <div class="brand-item p-t-b" ngxSlickItem>
            <img src="assets/image/jquery1.png" class="w-100" alt="shopify">
        </div>
    </ngx-slick-carousel>
</section>
<section class="text-w-image margin-90">
    <div class="container">
        <div class="text-or-img-wrapper w-100 flex-row align-items-center space-between">
            <div class="text-wrapper">
                <h2 class="red-black-heading"><span>Wordpress</span> Web Development</h2>
                <p class="text">Our key value system through which we embrace success is Honesty, Integrity, Customer satisfaction, and Experience matched to mutual growth. Globe Alley's mission is to provide our clients with the best IT solutions possible, and we believe
                    in earning people's confidence, which means keeping our commitments and being honest about our work. Our staff is dedicated to catering to your business needs. It always thrives on doing better, ensuring the best in class services
                    while embracing our values of complete customer satisfaction, efficiency, and honesty.</p>
            </div>
            <div class="image-wrapper-right">
                <img src="/assets/image/Rectangle26.png" width="100%" alt="image">
            </div>
        </div>
    </div>
</section>
<section class="text-w-image">
    <div class="container">
        <div class="text-or-img-wrapper w-100 flex-row align-items-center space-between">
            <div class="image-wrapper-right">
                <img src="/assets/image/Rectangle26-2.png" width="100%" alt="image">
            </div>
            <div class="text-wrapper second">
                <h2 class="red-black-heading"><span>E-Commerce</span>Web Development Service</h2>
                <p class="text">Ecommerce is a vast term consisting of commercial transactions conducted electronically on the Internet. There are a lot of factors affecting the success and growth of an eCommerce company, such as the user-friendliness of a website and
                    how easily accessible it is. Our team of developers are extremely skilled and learned and will ensure that your website is both user friendly and provide security at the same time.</p>
            </div>
        </div>
    </div>
</section>
<section class="text-w-image margin-90">
    <div class="container">
        <div class="text-or-img-wrapper w-100 flex-row align-items-center space-between">
            <div class="text-wrapper">
                <h2 class="red-black-heading"><span>Custom</span>Web Development</h2>
                <p class="text">Sed orci tellus, fringilla eget scelerisque et, feugiat nec ligula. Etiam lacinia in nisi non vestibulum. Pellentesque suscipit metus hendrerit, sodales massa non, iaculis odio. Phasellus lobortis dictum tortor, at elementum libero imperdiet
                    in. Suspendisse potenti. Proin at ornare est. Donec fringilla sodales ligula, quis rhoncus lorem gravida vitae. Vivamus molestie ligula a dui congue, sed convallis lectus bibendum. Cras semper mauris a eleifend maximus.</p>
            </div>
            <div class="image-wrapper-right">
                <img src="/assets/image/Rectangle26-3.png" width="100%" alt="image">
            </div>
        </div>
    </div>
</section>
<section class="enquery margin-90-b">
    <div class="container">
        <div class="enquery-wrapper flex-row space-between w-100">
            <div class="text-section-wrap">
                <h2 class="enquery-heading"><span>WordPress </span>Development Services</h2>
                <ul class="enquery-list">
                    <li class="list p-relative">WordPress Website Development</li>
                    <li class="list p-relative">Customize WordPress Themes</li>
                    <li class="list p-relative">WordPress CMS Development</li>
                    <li class="list p-relative">Add Plug-ins and Widgets </li>
                    <li class="list p-relative">Migration to WordPress</li>
                    <li class="list p-relative">Creative WordPress Layouts</li>
                    <li class="list p-relative">Support & Maintenance</li>
                </ul>
            </div>
            <div class="form-wrapper">
                <h3 class="form-heading">Quick Enquiry</h3>
                <form action="">
                    <label for="" class="flex-row align-items-center space-between">
                        <input type="text" placeholder="First Name">
                        <input type="text" placeholder="Last name">
                    </label>
                    <label for="" class="flex-row align-items-center space-between">
                        <input type="text" placeholder="Phone Number">
                        <input type="text" placeholder="Email">
                    </label>
                    <input type="text" class="massage" placeholder="Massage">
                    <button class="cdk-button explore-btn">Explore More</button>
                </form>
            </div>
        </div>
    </div>
</section>
<section class="word-cards">
    <div class="container">
        <div class="cards-wrapper-all flex-row align-items-center space-between">
            <div class="s-card">
                <h2 class="s-card-txt">
                    <span class="text-red">100+</span> WordPress Development Projects Completed
                </h2>
                <a href="">Browse Our Portfolio <span><img src="assets/image/right-arrow.png" alt="arrow"></span></a>
            </div>
            <div class="e-card">
                <img src="assets/image/Rectangle102-1.png" width="100%" alt="asdf">
                <h3 class="e-card-txt">Why AResourcepool</h3>
                <div class="under-line"></div>
                <p class="p-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum ipsum at metus hendrerit dapibus. In egestas molestie at metus hendrerit dapibus. In egestas molestie </p>
            </div>
            <div class="e-card">
                <img src="assets/image/Rectangle102-2.png" width="100%" alt="asdf">
                <h3 class="e-card-txt">Why AResourcepool</h3>
                <div class="under-line"></div>
                <p class="p-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Ut vestibulum ipsum at metus hendrerit dapibus. In egestas molestie at metus hendrerit dapibus. In egestas molestie </p>
            </div>
        </div>
    </div>
</section>
<section class="slider-section margin-126-b">
    <div class="container">
        <div class="slider-head-wrapper w-100 p-relative">
            <h2 class="back-txt">TESTIMONIAL</h2>
            <div class="title flex-row align-items-center p-absolute">
                <img src="assets/image/image-border1.png" alt="asdf">
                <p class="our-title">
                    Our Client’s Testimonials
                </p>
                <img src="assets/image/image border.png" alt="asdf">
            </div>
            <!-- <p class="slider-txt">
                Great websites = Happy customers. Here’s our list!
            </p> -->
        </div>
        <div class="next-prev-btn flex-row">

        </div>
        <div class="slider-wrap">
            <ngx-slick-carousel class="cs-slider" #slickModal="slick-carousel" [config]="slidelastConfig">
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse4.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse3.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>
                <div class="card-slide grid__items one-third" ngxSlickItem>
                    <div class="card-head-slide flex-row align-items-center" cursor-swipe>
                        <div class="image-slide">
                            <img class="w-100" src="assets/image/Ellipse1.png" alt="asdf">
                        </div>
                        <div class="text-head-slide">
                            <h2 class="heading-slide-card">Veronica Johnson</h2>
                            <p class="text-red">Web Designer</p>
                        </div>
                    </div>
                    <p class="txt-b-slide">
                        There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour.
                    </p>
                </div>




            </ngx-slick-carousel>
        </div>
    </div>
</section>