<section class="job-apply padding-90 bg-grey">
    <div class="container">
        <div class="job-apply-wrapper w-100">
            <div class="service-head center">
                <h2 class="back-txt ">CONTACT US</h2>
                <p class="sub-text"><span class="sub-text-icon-left"><img src="assets/image/image-border-left.png"
                            alt=""></span>CONTACT US<span><img src="assets/image/image-border.png" alt=""></span></p>

            </div>
            <div class="form-wrapper">
                <form action="get">
                    <label for="name" class="flex-row align-items-center space-between">
                        <input type="text" name="firstname" id="fname" placeholder="First Name">
                        <input type="text" name="firstname" id="lname" placeholder="Last Name">
                     </label>
                    <input type="mail" name="email" id="mail" placeholder="Email">
                    <input type="tel" name="mobile" id="phone" maxlength="13" placeholder="Phone Number">
                    <select name="experience" id="experience">
                        <option value="" disabled selected hidden>Total Experience</option>
                        <option class="inner-option" value="1">1 Year</option>
                        <option class="inner-option" value="2">2 Year</option>
                        <option class="inner-option" value="3">3 Year</option>
                    </select>
                    <select name="Position" id="Position">
                        <option value="" disabled selected hidden>Position</option>
                        <option value="1">Position 1</option>
                        <option value="2">Position 2</option>
                        <option value="3">Position 3</option>
                    </select>
                    <input class="c-file" type="file" name="filename" id="myFile">
                    <button class="cdk-button custom w-100">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>